node_modules
.env
.idea
.elasticbeanstalk

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

docker-compose.yml
db/data/
package-lock1.json
src/userbotTelegram/data/1.json
src/services/helpers/test.js
